[defaults]
inventory         = inventory/aws_ec2.yml
remote_user       = ubuntu
private_key_file  = ~/.ssh/clouddevops-key.pem
host_key_checking = False

[inventory]
enable_plugins = amazon.aws.aws_ec2